    <link rel="stylesheet" href="//cdn.leafletjs.com/leaflet-0.5.1/leaflet.css" />
    <!--[if lte IE 8]>
      <link rel="stylesheet" href="//cdn.leafletjs.com/leaflet-0.5.1/leaflet.ie.css" />
	<![endif]-->
    <script src="//code.jquery.com/jquery-2.0.0.min.js"></script>
    <link href='//fonts.googleapis.com/css?family=Milonga' rel='stylesheet' type='text/css'>
    <style type="text/css">
        body {
            padding: 0;
            margin: 0;
        }
        html,
        body,
        #map {
            height: 100%;
            z-index: 1;
        }
        .leaflet-container .leaflet-control-zoom {
            margin-left: 13px;
            margin-top: 70px;
        }
    </style>
    <div id="map"></div>
    <script src="//cdn.leafletjs.com/leaflet-0.5.1/leaflet.js"></script>
    <script>
        var map = L.map('map').setView([-22.817667, -47.0698769], 16);
        var markerLayerGroup = L.layerGroup().addTo(map);
        L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 18,
            minZoom: 3
        }).addTo(map);

        function getPins(e) {
            bounds = map.getBounds();
            url = "map?lat1=" + bounds.getSouthWest().lat + "&lon1=" + bounds.getSouthWest().lng + "&lat2=" + bounds.getNorthEast().lat + "&lon2=" + bounds.getNorthEast().lng;
            $.get(url, pinTheMap, "json")
        }

        function pinTheMap(data) {
            //clear the current pins
            map.removeLayer(markerLayerGroup);

            //add the new pins
            var markerArray = new Array(data.length)
            for (var i = 0; i < data.length; i++) {
                park = data[i];
                markerArray[i] = L.marker([park.lat, park.lon]).bindPopup(park.name);
            }

            markerLayerGroup = L.layerGroup(markerArray).addTo(map);
        }

        map.on('dragend', getPins);
        map.on('zoomend', getPins);
        map.whenReady(getPins)
    </script>